// Color palette
@primarycol-dark:  #232D32;
@primarycol:       #607D8B;
@primarycol-light: #CFD8DC;
@texticos:         #FFFFFF;
@accentcol:        #FFC107;
@primarytex:       #212121;
@secondarytext:    #757575;
@dividercol:       #BDBDBD;
@bgcolor:          #FFFFFF;