// Mass defines

// Body-wide settings
body {
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  
  margin:0px;
  padding:0px;
}

//Usables
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}